%display-felx
{
    display: flex;
    flex-wrap: wrap; 
}
%display-grid
{
    display: grid;
}
%headerAlign{
    text-align: center;
    padding-top: 30px;
}
%h6Align{
    font-size: 15px;
    font-weight: 400;
    color: $l-Gray-color;
    width: 55%;
    padding: 10px;
    margin: 0 auto;
}
%h2Align{
    font-size: 40px;
    font-weight: 600;
}